*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    padding: 1rem;
    display: flex;
    justify-content: center
}

header img{
    width: 5rem;
    margin-right: 70rem;
}

nav ul{ /*Minha lista não ordenada*/
    display: flex; /*Estou colocando os itens lado a lado*/
    justify-content: center; /*Justificando texto ao centro*/
}

nav ul li{ /*Acessando a lista não ordenada*/
    margin-right: 25px; /*espaçamento a direita*/
    
}

nav ul li a{
    color: #8d99ae;
}

nav ul div{
    height: 30px;
    width: 80px;
    background-color: blue;
    border-radius: 5px;
    border-color: black;
}
header button{
    width: 12vh;
    height: 5vh;
    background-color: none;
    border-color: black;
}

header button a{
    background-color: none;
    color:#8d99ae;

}


#corpo1{
    padding: 10rem;
    text-align: center;
    justify-content: center;
    background-image: url(imgs/corpo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#corpo1 h1{
    font-size: 100px;
    color: #8d99ae;
    
}

#corpo1 h2{
    margin-top: 10px;
    color: #8d99ae;
}

#corpo1 hr{
    width: 50px;
    height: 5px;
    border-radius: 5px;
    border-color: white;
margin-top: 20px;
    margin-left: 530px;
    background-color: #8d99ae;
}

    #corpo2{
        padding: 10rem;
        background-image: url(imgs/corpo2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
    }

    #pai {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 200px;
        max-width: 500rem;
        
    }

    #corpo2 pai div{
        height: 200px;
        width: 100px;
        background-color: blue;
        display: flex;
        margin-right: 100px;
    }

    #texto2 h1 {
        text-align: center;
        margin-left: 50px;
    }

    #corpo2 img{
        width: 30vh;
    }

    #corpo3{
        display: flex;
        justify-content: center;
    }

    #corpo3 img{
        width: 75vh;
    }

    #corpo3 h2{
        text-align: center;
        color: #8d99ae;
        margin-top: 70px;

    }

    #corpo3 hr{
        width: 50px;
        height: 5px;
        border-radius: 5px;
        border-color: white;
        margin-top: 7px;
        margin-left: 386px;
        background-color: #8d99ae;
    }

    .paragrafo {
        font-size: 12px;
        text-align: justify;
        margin-top: 20px;
        margin-left: 50px;
        font-family: 'Times New Roman', Times, serif;
    }
#corpo4{
    padding: 10rem;
    background-color: #8d99ae;
    justify-content: center;
}


    #corpo4 h1{
        text-align: center;
        margin-top: -120px;
    }

    #corpo4 p{
        text-align: center;
        margin: 5px;
    }

    #corpo4 input{
        text-align: center;
        margin-left: 425px;
        width: 30vh;
        height: 3vh;

    }

    #corpo4 button{

    }

    

    
