*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


header{
    padding: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

header img{
    width: 4rem;
    margin-right: 40rem;
}

nav ul{ 
    display: flex; 
    justify-content: center; 
}

nav ul li{ 
    margin-right: 15px;
    
}

nav ul li a{
    color:black;
}

.botao{
    width: 20vh;
    height: 5.2vh;
    background-color: none;
    border-color: black;
    
    
}

#corpo2{
    padding: 10rem;
    background-image: url(imgs/corpo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#corpo2 h1{
    text-align: center;
margin-bottom: 20px;

}

#corpo2 hr{
    width: 15%;
    margin: 0 auto;

        border-radius: 5px;
        border: 5px solid white;
    
}

#pai {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: ;
    
    
    
}

#pai div img{
    margin-right: 50px;
    height: 35vh;
    width: 35vh;
}

#pai div{
    height: 50vh;
    width: 35vh;
    margin-right: 50px;
}

#pai div hr{
        width: 50px;
        height: 5px;
        border-radius: 5px;
        border-color: white;
        margin-left: 5.8rem;
        margin-top: 15px;
        background-color: #8d99ae;
    }

    #pai div p{
        text-align: justify;
        margin-top: 15px;
    }

    #corpo3{
        display: flex;
        justify-content: center;
    }

    #corpo3 img{
        width: 75vh;
    }

    #corpo3 h2{
        text-align: center;
        margin-top: 70px;

    }

    #corpo3 hr{
        width: 50px;
        height: 5px;
        border-radius: 5px;
        border-color: white;
        margin-top: 7px;
        margin-left: 265px;
        background-color: #8d99ae;
    }

    #corpo3 p{
        margin-left: 50px;
        margin-top: 20px;
        text-align: justify center;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    #corpo4{
        padding: 10rem;
        background-color: #f1faee;
        justify-content: center;
    }
    
    
        #corpo4 h1{
            text-align: center;
            margin-top: -120px;
        }
    
        #corpo4 p{
            text-align: center;
            margin: 5px;
        }
    
        #corpo4 input{
            text-align: center;
            margin-left: 260px;
            width: 30vh;
            height: 3vh;
        }

            #corpo4 p{
        font-family: 'Times New Roman', Times, serif;
            }

           .forms email {
            width: 35vh;
           }
    
           footer{
            display: flex;
justify-content: center;
padding: 1.5rem;

           }

           footer ul li{
margin-right: 15px;
           }

           nav ul{ 
            display: flex; 
            justify-content: end; 
        }
        
        nav ul li{ 
            margin-right: 15px;
            
        }
        
        nav ul li a{
            color:black;
        }
        
    

